html, body {
	width: 100%;
	cursor: default;
}
body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: "Futura", "Century Gothic", sans-serif;
}
div#title {
	margin-top: 50px;
	background: #fff;
	color: #000;
}
